# These can all be found in the Slack bot builder:
# Install App -> OAuth Tokens for your workspace

SLACK_BOT_ACCESS_TOKEN=<Bot User OAuth Token>

# Basic Information -> App Credentials

SLACK_CLIENT_ID=<Client ID>
SLACK_CLIENT_SECRET=<Client Secret>	
SLACK_SIGNING_SECRET=<Signing Secret>


### CUSTOMIZATIONS ####
# You have a couple of options here. You can either add these
# variables in Cloudflare -> Workers -> plusbot -> Settings -> Variables
# OR
# You can add them in your wrangle.toml. Either one works.

[env.dev.vars]
FRONT_EMOJIS=""":be-kind:
:bring-the-magic:
:think-it-through:
:keep-it-simple:
:find-a-way:
:own-it:
:be-authentic:"""

BACK_EMOJIS=""":highfive:
:dancing-mage:
:bananadance:
:party_blob:
:party-blob:
:party_cat:
:partycorgi:
:dancing-dog:
:mario_luigi:
:party-doge:
:party_parrot:
:excited:
:more_cowbell:"""

KUDOS_MESSAGES="""Plusses for you
Way to go
Rock on
Keep it up
High five
Look at you go
You're doing great"""

BDAY_MESSAGES="""Let's celebrate you
It's your special day
Let's party
Happiest of birthdays
Happy level-up day
A day just for you"""